*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container{
    height: 85px;
    border-bottom: 2px solid #e2dfdf;
}
.header-container{
    display: flex;
    justify-content: space-between;
}

.logo{
    padding: 1rem 10px;
}

.nav ul{
    display: flex;
    padding: 5px 10px;
    position: relative;
    bottom: 2.9rem;
    left: 10rem;
}

.nav ul li{
    padding: 5px 10px;
    margin-left: 10px;
    list-style: none;
    color: #828286;
    cursor: pointer;
}

.icon-cart{
    padding: 0 2rem;
    position: relative;
    bottom: 12px;
    cursor: pointer;
}

.profile-pic{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

/* MAIN */

.container-main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.pics-f{
    width: 75px;
    height: 75px;
    padding: 10px 5px;
    border-radius: 15px;
}
